html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a { 
    color: inherit; 
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
    display: block
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.PG-padding {
    padding: 8px 16px!important;
}

.nav-links {
    list-style: none;
    display: flex;
}

.home-button {
    padding: 10px 15px;
    text-decoration: none;
}

.home-button:hover {
    background-color: lightgray;
    border-radius: 8px;
    color: inherit;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: lightgray;
    border-radius: 8px;
}

.nav-item:hover a {
    color: inherit;
}

.nav-text-dx {
    padding-left: 15px;
}

.PG-logoheader-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}

.PG-logoheader-padding {
    padding: 15px 25px;
}

.PG-logoheader-big {
    font-size: 45px!important
}

.header-container {
    position: relative;
}

.PG-content, .PG-auto {
    margin-left: auto;
    margin-right: auto;
}

.PG-content {
    max-width: 980px;
    align-items: center;
}

.PG-auto {
    max-width: 1140px;
}

.PG-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.PG-padding-section {
    padding: 12px 24px!important;
}

.box {
    display: flex;
}

.box-title-center {
    text-align: center;
    padding-bottom: 30px;
}

.pg-text-align {
    text-align: justify;
}

.pg-text-padding {
    padding-bottom: 15px;
}

.box-menu {
    width: 400px;
    max-width: 400px;
    margin: auto;
}




